.icon{
    text-align: center;
    order: -1;
    font-size: 50px;
}
div h2{
    border-bottom: solid 2px #999;
    font-size: 20px;
}
div p{
    font-size: 14px;
    font-weight: normal;
    margin-top: -10px;
    height: 110px;
    line-height: 17px;
}
div a{
    text-decoration: none;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 10px;
    color: #fff;  
}

/*==========card content==========*/
.emoji{
    width: 350px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

/*==========layout==========*/
.emojis{
    display: grid;
    grid-template-columns: repeat(2,390px); 
}
